<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/mistake_log.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <title>Chapter 8, 9, 10 lastest exam logs</title>
</head>
<body>
    <div class="container">
        <h1>Exam logs</h1>
        <table>
            <thead>
                <tr>
                    <th>Chapter</th>
                    <th>Score</th>
                    <th>Solved date</th>
                </tr>
            </thead>
            <tbody>
                {% for log in exam_logs %}
                <tr>
                    <td>{{ log.chapter }}</td>
                    <td>{{ log.total_correct_questions }} / {{ log.total_solved_questions }}</td>
                    <td>{{ log.exam_dateTime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>
        <button id="home" class="home-button" onclick="window.location.href='{% url 'question:main' %}'">
            <img src="{% static 'images/home-icon.png' %}" alt="Home" class="icon">
        </button>
    </footer>
    <script src="{% static 'script/mistake_log.js' %}"></script>
</body>
</html>

