<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/studystyle.css' %}">
    <title>Chapter Study</title>
</head>
<body>
    <div class="container">
        <h1>Chapter {{ chapter_number }}</h1>
        <div class="question-container">
            <img src="{{ question.image.url }}" alt="Question Image" class="question-image">
            <div class="navigation-buttons">
                <button id="prevBtn">Previous</button>
                <button id="nextBtn">Next</button>
            </div>
        </div>
        <button onclick="window.location.href='{% url 'main' %}'" class="main-button">Back to Main</button>
    </div>
    <script src="{% static 'script/studyscript.js' %}"></script>
</body>
</html>
