body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom, #007bff, #6c757d); /* Background gradient from blue to gray */
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-container {
    perspective: 1000px;
    margin-bottom: 80px;
    width: 384px; 
    height: 480px; 
    transition: all 0.1s;
    position: relative;
}

.overlay {
    position: absolute;
    width: 380px;
    height: 480px;
    background: linear-gradient(105deg,
    transparent 40%,
    rgba(255, 219, 112, 0.8) 45%,
    rgba(132, 50, 255, 0.6) 50%,
    transparent 54%);
    filter: brightness(1.1) opacity(0.8);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.1s;
}

.card {
    width: 380px; 
    height: 480px;
    background-size: cover;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Default gap between buttons */
}

.button-wrapper {
    background: #28a745;
    border: none; /* Remove default button styles */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 200px; /* Fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease; /* Add transition for hover effect */
    cursor: pointer;
    font-family: 'Lato', sans-serif; /* Apply Lato font to button */
}

.button-wrapper:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.button-icon {
    width: 50px;
    height: 50px;
}

.gradient-button {
    background: none;
    color: white;
    font-size: 18px;
    margin: 10px 0;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold; /* Bold font */
}

.button-description {
    color: white;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black semi-transparent background */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px; /* Maximum width */
    text-align: center;
    border-radius: 10px;
    font-family: 'Lato', sans-serif; /* Apply Lato font to modal */
}

.modal-content h2 {
    color: #333; /* Dark gray text color */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

.modal-button {
    background: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-family: 'Lato', sans-serif; /* Apply Lato font to modal button */
}

.modal-button:hover {
    background: #0056b3;
}

.logout-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 10px; /* Gap between button and username */
}

.username {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.logout-button {
    background: #1ABC9C;
    border: none;
    color: white;
    padding: 5px 10px; /* Reduce padding for smaller size */
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center; /* Center align */
}

.logout-button:hover {
    background: #16A085;
}

.logout-icon {
    width: 16px; /* Reduce icon size */
    height: 16px;
    margin-right: 5px; /* Gap between icon and text */
}

.logo {
    position: fixed;
    top: 1px;
    right: 1px;
    width: 150px; /* Adjust logo width */
    height: auto; /* Maintain aspect ratio */
    z-index: 1000; /* Display above other elements */
}

@media (max-width: 768px) {
    .image-container {
        display: none; /* Hide image container on small screens */
    }

    .button-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }

    .button-wrapper {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    .button-icon {
        width: 24px;
        height: 24px;
    }

    .gradient-button {
        font-size: 16px;
    }

    .button-description {
        font-size: 14px;
    }

    /* Adjust modal position on small screens */
    .modal-content {
        width: 90%;
        margin: 0 auto; /* Center on screen */
        top: 50%;
    }
}

@media (max-width: 880px) {
    .button-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px; /* Reduce gap */
    }

    .button-icon {
        width: 24px;
        height: 24px;
    }

    .button-wrapper {
        width: calc(50% - 10px); /* Set button width to 50% - 10px */
        height: 150px; /* Reduce height */
        max-width: none; /* Remove max-width */
        padding: 10px; /* Reduce padding on small screens */
        width: 150px;
    }
}

@media (min-width: 1138px) {
    .button-container {
        gap: 100px; /* Increase gap on large screens */
    }
}

/* Responsive logo style */
@media (max-width: 932px) {
    .logo {
        top: 60px; /* Lower position */
        right: 50%;
        transform: translateX(50%);
        width: 200px; /* Slightly increase size */
    }
}