/* mistake_log.css */

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom, #007bff, #6c757d); /* Background gradient from blue to gray */
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between top and bottom */
}

.container {
    width: 90%;
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
    overflow-y: auto; /* Enable vertical scrolling */
}

h1 {
    font-size: 2.5rem; /* Font size of the heading */
    font-weight: 700; /* Font weight of the heading */
    color: #2ecc71; /* Font color of the heading (dark green) */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for the heading */
    margin: 20px 0; /* Margin for the heading */
    padding: 10px 20px; /* Padding for the heading */
    border-radius: 10px; /* Border radius for the heading */
    border: 2px solid #27ae60; /* Border color for the heading (dark green) */
    background: rgba(46, 204, 113, 0.1); /* Background color for the heading (transparent green) */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px; /* Padding for table cells */
    text-align: left;
}

th {
    background: #28a745; /* Background color for table headers (dark green) */
    color: white; /* Font color for table headers (white) */
}

tbody tr:hover {
    background-color: #ddd; /* Background color on row hover */
}

#retest {
    cursor: pointer;
}

footer {
    margin-top: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2); /* Semi-transparent black background for footer */
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.home-button {
    background: #1ABC9C; /* Background color for home button (green) */
    border: none;
    color: white; /* Font color for home button (white) */
    font-size: 1.5rem; /* Font size for home button */
    padding: 10px 20px; /* Padding for home button */
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.home-button:hover {
    background: #16A085; /* Background color for home button on hover (dark green) */
}

/* Icon styles */
.icon {
    width: 24px;
    height: 24px;
}
