body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom, #007bff, #6c757d); /* Same background color as main.html */
    color: white;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
    margin-top: 20px;
}

header h1 {
    font-size: 3rem; /* Font size of the header */
}

div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: auto; /* Move footer to the bottom of the page */
}

.home-button {
    background: #1ABC9C;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-button:hover {
    background: #16A085;
    align-content: center;
}

/* Icon styles */
.icon {
    width: 24px;
    height: 24px;
}

/* Score styles */
p {
    font-size: 2.5rem;
    margin: 20px 0;
}

/* Content container */
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    position: fixed;
    top: 1px;
    right: 1px;
    width: 150px; /* Adjust logo width */
    height: auto; /* Maintain aspect ratio */
    z-index: 1000; /* Display above other elements */
}

@media (max-width: 932px) {
    .logo {
        display: none; /* Hide logo on small screens */
    }
}
