body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom, #007bff, #6c757d); /* main.html과 동일한 배경색 */
    color: white;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
    margin-top: 20px;
}

header h1 {
    font-size: 3rem;
}

div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: auto; /* 푸터를 페이지 맨 아래로 이동 */
}

.home-button {
    background: #1ABC9C;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-button:hover {
    background: #16A085;
    align-content: center;
}

/* 아이콘 스타일 */
.icon {
    width: 24px;
    height: 24px;
}


/* 점수 스타일 */
p {
    font-size: 2.5rem;
    margin: 20px 0;
}

/* 내용 컨테이너 */
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    position: fixed;
    top: 1px;
    right: 1px;
    width: 150px; /* 로고 너비 조정 */
    height: auto; /* 비율 유지 */
    z-index: 1000; /* 다른 요소들 위에 표시 */
}

@media (max-width: 932px) {
    .logo {
        display: none; /* 작은 화면에서는 로그를 숨김 */
    }
}
