body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom, #007bff, #6c757d);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color:  #34495E;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    position: relative;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    align-items: center;
    background: #2C3E50;
    padding: 10px 15px;
    border-radius: 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background: #1ABC9C;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #16A085;
}

a {
    color: #1ABC9C;
    text-decoration: none;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-bottom: 10px;
}

/* 모바일 반응형 스타일 */
@media (max-width: 600px) {
    .container {
        padding: 15px;
        width: 100%;
    }

    button {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }
}
